:root{
    --morado: #6d597a;
    --rosa: #b56576;
    --salmon: #eaac8b;
    --blanco: #fff;
    --negro: #000;
}

*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    /* display: block; */
}

/* Header */

header{
    background-color: var(--morado);
    color: var(--blanco);
    text-align: center;        
}

header h1{
    padding: 15px;
}

/* Main */

main{
    position: relative;
    width: 100%;
    height: 750px;
}

aside{
    position: absolute;
    left: 0;           
    top: 0;
    width: 22%;        
    height: 100%;
    background-color: var(--rosa);
}

aside nav ul li {
    list-style: none;
    padding: 2px 17px;
    margin: 3px 10px;
    font-size: 18px;
}

aside nav ul li:first-child{
    margin-top: 25px;
}

aside nav ul li a{
    color: var(--negro);
    text-decoration: none;
}

aside nav ul li a:visited{
    color: var(--negro);
    text-decoration: none;
}

section{
    position: absolute;
    right: 0;         
    top: 0;
    width: 78%;        
    height: 100%;
}

.card{
    display: inline-block;
    position: relative;
    background-color: var(--salmon);
    margin: 0.7% 0.1%;
    top: 33%;
    left: 1.33%;
    width: 48%;
    height: 110px;
    text-align: center;
    font-size:20px;
    line-height: 110px; 
}

/* Footer */

footer{
    display: block;
    position: relative;
    background-color: var(--morado);
    color: var(--blanco);
    text-align: center;
    padding: 12px;
    font-size: 13px;
}