:root{
    --blau-fosc: #1f3c4d;
    --verd: #03e0be;
    --blanc: #f0f5f8;
    --rosa: #ff3c8f;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
}

header{
    position: relative;
    display: block;
}

header, aside{
    background-color: var(--blau-fosc);
    color: var(--blanc);

}

header, aside h2{
    height: 150px;
    
}

main{
    background-color: var(--blanc); 
    color: var(--blau-fosc);
}

header h1{
    padding: 20px;
}

header nav ul{
    padding-bottom: 10px;
}

header nav ul li{
    display: inline;
    padding: 0 10px;
    cursor: pointer;
}

header nav ul li:first-child{
    margin-left: 10px;
}

header nav ul li:nth-child(2){
    color: var(--verd);
    font-weight: bold;
}

header nav ul li:hover{
    color: var(--verd);
}

button{
    background-color: var(--rosa);
}

a{
    color: var(--rosa);
}

aside h2{
    background-color: var(--verd);
    color: var(--blau-fosc);
    padding: 20px 0px 0px 30px;
}

aside a{
    color: var(--blanc);
}

main section article img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main section article div{
    height: 30px;
    padding-top: 10px;
}

main section article{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

main section article p, main section article h2, main section article img, main section article p:nth-child(2){
    padding-top: 7px;
    
}

aside{
    display: none;
}

div {
    display: block;
    position: relative; 
    padding: 30px;
    margin: 10px;
}

div button{
    position: absolute;
    height: 40px;
    width: 90px;

    border-color: var(--blau-fosc);
    border-radius: 10px;
    right: 0;
}

main section{
    position: relative;
    padding: 10px;
}

@media (min-width:1024px){

    main section, header{
        display: inline-block;
        width: calc(100% - 400px);
        display: block;
        padding: 5px 0px 0px 10px;
    }
    aside{
        width: 400px;
        height: 100%;
        display: inline-block;
        position: absolute;

        right: 0;
        top:0;
    }
    main section article{
        display: inline-block;
        padding: 10px;
        margin: 10px;
        width: 46%;
    }

    aside li{
        display: block;
        padding: 5px 0px 0px 15px;
    }
    aside li:first-child{
        padding-top: 15px;
    }

    main section{
        height: 805px;
    }

    main section a[href="#top"]{
        display: block;
    }
}

@font-face {
    font-family: karla;
    src: url(/examencss_David_Sanchez/assets/fonts/Karla/Karla-VariableFont_wght.ttf);
}
