:root{
    --color-header: #d3d0cb;
    --color-fondo: #1e2019;
    --color-amarillo: #E2C044;
    --color-mostaza: #e2c044d8;
    --color-verde: #587b7f;
}
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: var(--color-fondo);
}

header, header nav{
    background-color: var(--color-header);
}

header img{
    width: 200px;
    height: auto;
}

header a{
    text-decoration: none;
    padding-left: 10px;
    color: rgb(65, 62, 62);
    font-size: 15px;
    background-color: var(--color-header);
}

header a:hover {
    font-weight: bold;
    color: black;   
    text-decoration: underline;
}

main h1:first-child, form h3{
    color: var(--color-header);   
}
main h1:first-child{
    padding-top: 20px;
    padding-bottom: 20px;
}
main form{
    
    border: 1px solid var(--color-header);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

form input:focus, form  textarea:focus{
    outline: var(--color-amarillo); 
    border-color: var(--color-amarillo);
    /* box-shadow: --color-amarillo; */
}

form label, form p{
    color: var(--color-header);
    padding-top: 10px;

}


form input, form textarea{
    background-color: var(--color-header);
    text-align: left;
}

form textarea{
    width: 90%;
    height: auto;
}

form hr{
    margin-top: 10px;
    margin-bottom: 10px;
}


input[type="radio"], input[type="checkbox"]{
    accent-color: var(--color-verde);
}

input[type="checkbox"]{
    margin-left: 2%;
    margin-right: 2%;
}

input[type="submit"]{
    text-align: center;
    background-color:var(--color-amarillo);
    width: 65px;
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid var(--color-mostaza);
    border-radius: 10px;
}

input[type="submit"]:hover{
    background-color:var(--color-mostaza);
}

form a{
    color: var(--color-header);
}


