*  {
    background-color: #d2e4c4;
}

a{
    color:#3c3c3c;
}

a:hover{
    font-weight: bold;
}

.black {
    font-weight: bold;
    color: black;
}
#curs{
    font-style: italic;
}

main p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #004466;
    font-size: 16px;
}

.ul{
    color: white;
    font-weight: bold;
    background-color: black;
}

h1{
    color: #3c3c3c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

h2{
    color: #9A275A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

h3{
    color: #9A275A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

footer p{
    color:#3c3c3c;
    font-weight: bold;
}

li{
    color: #D24B88;
}

hr{
    color:#002266;
}