:root {
  --blanc: #fff;
  --blau-fosc: #1B1F3B;
  --verd-accent: #DCF763;
  --gris: #F1F2EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Centrar elements*/
form, input, label, textarea {
  margin: 0 auto;
}

section {
  text-align: center;
}

/*1*/
body {
  color: var(--blau-fosc);
}

/*2*/
header, footer {
  background: var(--blau-fosc);
  color: var(--blanc);
  text-align: center;
  padding: 20px;
}

/*3*/
header h1 {
  color: var(--verd-accent);
  text-align: center;
}

/*4*/
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*4*/
header ul li {
  padding: 10px 0;
}

/*4*/
header ul li:hover {
  cursor: pointer;
  font-weight: bold;
}

/*5*/
main {
  background: var(--gris);
  padding: 20px;
  min-height: 100vh;
  position: relative;
  display: block;
}

/*6*/
main h2 {
  padding: 20px 0;
  text-align: center;
}

/*7*/
input:focus,
textarea:focus {
  outline: none;
  background: var(--verd-accent);
  opacity: 0.5;
}

/*8*/
label {
  display: block;
  margin: 10px 0 5px 0;
  text-align: center;
}

/*8*/
input[type="text"],
input[type="email"] {
  display: block;
  width: 300px;
  margin: 0 auto 10px auto;
  padding: 5px;
}

/*8*/
textarea {
  display: block;
  width: 314px;
  height: 94px;
  margin: 0 auto 10px auto;
  padding: 5px;
}

/*10*/
input[type="submit"] {
  display: block;
  background: var(--verd-accent);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--blau-fosc);
  cursor: pointer;
  width: 150px;
  margin: 10px auto;
  text-align: center;
}

/*12*/
footer ul {
  list-style: none;
  font-size: 50px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

/*13*/
footer ul li {
  display: inline-block;
  margin: 0 10px;
}

/*15*/
.desktop-only {
  display: none;
}

/*17*/
aside {
  display: none;
}

/*14*/
/*16*/
/*18*/
/*19*/
/*20*/
@media (min-width: 700px) {

  /*14*/
  footer ul {
    display: none;
  }

  /*16*/
  header ul li {
    display: inline-block;
    margin: 0 10px;
  }

  /*15*/
  .desktop-only {
    display: inline-block;
  }

  /*18*/
  aside {
    display: block;
    width: 200px;
    background: var(--verd-accent);
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  /*19*/
  main {
    padding-right: 220px;
  }
}

/*11*/
/*14*/
/*16*/
/*17*/
@media (max-width: 699px) {

  /*11*/
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /*14*/
  footer ul {
    display: block;
  }
}
